.roller-modal {
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.roller-modal-wrapper {
    z-index: 1001;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    /*width: 80%; !* Could be more or less, depending on screen size *!*/
}

.roller-title {
    flex: 0 0 100%;
    display: flex;
    justify-content: flex-end;
}

.roller-spell-name {
    padding: 20px;
    text-align: center;
    margin: auto;
}

/* Modal Content/Box */
.roller-modal-content {
    z-index: 1002;
    background-color: #fefefe;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.roller-row {
    justify-content: space-around;
    padding: 20px;
}

.roller-row-text {
    justify-content: space-around;
    font-weight: bold;
    padding: 20px;
}

.roller-head {
    padding: 20px;
    border: 1px solid #888;
}

.roller-cell {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #888;
    padding: 10px;
}

.roller-cell-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    column-span: all;
}

.roller-default-col {
}

.roller-advantage-col {
}

.roller-disadvantage-col {
}

/* The Close Button */
.roller-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.roller-close:hover,
.roller-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.roller-radio-label {
    display: block;
    float: left;
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: .2em .4em;
    cursor: pointer;
}
.roller-radio-label-selected {
    background: red;
    color: white;
}

/*fieldset {*/
    /*border: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*legend {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
/*label {*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*float: left;*/
    /*padding: .2em .4em;*/
    /*background-color: #ccc;*/
    /*border-style: solid;*/
    /*border-width: 1px 1px 1px 0;*/
    /*border-color: #666;*/
    /*background-image: -moz-linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));*/
    /*background-image: -webkit-linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));*/
    /*background-image: linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,.2));*/
    /*box-shadow: 1px 1px 1px rgba(255,255,255,.2) inset, -1px -1px 1px rgba(0,0,0,.2) inset;*/
/*}*/
/*label:first-child {*/
    /*border-left-width: 1px;*/
    /*border-top-left-radius: .2em;*/
    /*border-bottom-left-radius: .2em;*/
/*}*/
/*label:last-child {*/
    /*border-top-right-radius: .2em;*/
    /*border-bottom-right-radius: .2em;*/
/*}*/
/*label.roller-selected {*/
    /*background-color: #0066CC;*/
    /*color: white;*/
    /*border-color: darkblue;*/
    /*background-image: -moz-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));*/
    /*background-image: -webkit-linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));*/
    /*background-image: linear-gradient(rgba(0,0,0,.2), rgba(255,255,255,.2));*/
    /*box-shadow: 1px 1px 1px rgba(0,0,0,.2) inset;*/
/*}*/
/*label.warning.selected {*/
    /*background-color: red;*/
    /*border-color: darkred;*/
/*}*/
input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}